* {
    box-sizing: border-box;
}

.container {
    position: relative;
    max-width: 1440px;
    min-height: 992px;
    height: 1024px;
    background: #FFFFFF;
}


@media screen and (max-width: 767px) {
    .container {
        max-width: 767.99px;
        min-width: 320px;
    }
}