.body-apropos {
    max-width: 1440px;
    height: 1000px;
}


/*............ banner ..............*/

.paysage2 {
    height: 223px;
    left: 45px;
    position: absolute;
    border-radius: 25px;
    background: #F7F7F7;
    top: 100px;
    width: 1239px;
    filter: invert(20%);
}


/*............... dropdown ..............*/

.container_dropdown {
    position: relative;
    width: 1023px;
    margin-top: 255px;
    left: 150px;
}

.span-apropos {
    height: 29.84px;
    width: 89.5px;
    left: 226.08px;
    top: 1150px;
    position: absolute;
    font-weight: 500;
    font-size: 13px;
    line-height: 142.6%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}


/*............. @ media ........................*/

/*  tablette  */
@media screen and (max-width:800px) {
    .body-apropos {
        max-width: 800px;
        height: 900px;
    }
    .paysage2 {
        width: 1065px;  
    }
    .container_dropdown {
        width: 800px;
        margin-top: 255px;
        left: 180px;
    }
    .span-apropos {
        height: 29.84px;
        width: 89.5px;
        left: 226.08px;
        top: 1100px; 
    }   
}

/*  mobile  */
@media screen and (max-width: 500px) {
    .body-apropos {
        max-width: 500px;
        height: 1200px;
    }
    .paysage2 {
        width: 765px; 
        height: 323px; 
        margin-bottom: 30px;
    }
    .container_dropdown {
        width: 600px;
        left: 130px;
        top: 100px;
    }
    .span-apropos {
        height: 29.84px;
        width: 89.5px;
        left: 150px;
        top: 1190px; 
    }   
}
    
