.banner-apropos {
    position: absolute;
    width: 1240px;
    height: 223px;
    left: 100px;
    top: 152px;
    margin-bottom: 31px;
    mix-blend-mode: darken;
    background: #000000;
    border-radius: 25px;
}

.banner-apropos .paysage2 {
    position: absolute;
    border-radius: 25px;
    background: #F7F7F7;
    opacity: 0.6;
    margin-bottom: 31px;
}