.banner-apropos {
    position: absolute;
    width: 1240px;
    height: 223px;
    left: 100px;
    top: 152px;
    background: linear-gradient(to top, #000000 0%, #f6f6f6 100%);
    border-radius: 25px;
}

.banner-apropos .paysage2 {
    position: absolute;
    border-radius: 25px;
    background: #F7F7F7;
    opacity: 0.6;
}

.container_collapse {
    position: relative;
    width: 1023px;
    top: 416px;
    left: 208px;
}



.span-apropos {
    height: 29.84px;
    width: 89.5px;
    left: 226.08px;
    top: 945.61px;
    position: absolute;
    left: 15.7%;
    right: 78.09%;
    top: 92.34%;
    bottom: 4.74%;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 142.6%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}