.gallery {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 1240px;
    height: 829px;
    left: 100px;
    top: 437px;
    bottom: 43px;
    padding-top: 56px;
    background: #F7F7F7;
    border-radius: 25px;
    overflow: auto;
}

.gallery a {
    height: 340px;
    width: 340px;
    border-radius: 10px;
    margin-left: 50px;
    margin-bottom: 50px;
    cursor: pointer;
    text-decoration-line: none;
    background: #FF6060;
}

.gallery h3 {
    height: 52px;
    width: 300px;
    left: 20px;
    top: 78.82%;
    display: flex;
    align-items: flex-end;
    position: relative;
    color: #FFFFFF;
    right: 20px;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
}

a .image {
    height: 280px;
    width: 340px;
    padding-left: 4px;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
    position: absolute;
    object-fit: cover;
}