.gallery {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 1240px;
    height: 2790px;
    left: 100px;
    top: 437px;
    padding-bottom: 43px;
    padding-top: 56px;
    background: #F7F7F7;
    border-radius: 25px;
    
}

.gallery a {
    height: 340px;
    width: 340px;
    border-radius: 10px;
    margin-left: 55px;
    margin-bottom: 50px;
    cursor: pointer;
    text-decoration-line: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.gallery h3 {
    height: 52px;
    width: 300px;
    left: 20px;
    top: 245px;
    display: flex;
    align-items: flex-end;
    position: relative;
    color: #FFFFFF;
    margin-right: 25px;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
}

a .image {
    height: 340px;
    width: 340px;
    border-radius: 10px;
    position: absolute;
    object-fit: cover;
    opacity: 0.55;
}

@media screen and (max-width: 768px) {
    .gallery {
        max-width: 767.99px;
        min-width: 320px;
        flex-direction: column;
        height: auto;
        left: -30px;
        background: none;
        top: 307px;

    }

    .gallery a {
        display: block;
        flex-direction: column;
        border-radius: 10px;
        width: 718px; 
    }

    a .image {
        width: 718px;
    }

    
}   