.carroussel {
    position: absolute;
    width: 1240px;
    height: 415px;
    top: 128px;
    left: 100px;
}

.fa-chevron-left {
    height: 79.2px;
    width: 46.68px;
    position: absolute;
    background: #FFFFFF;
    left: 25.96px;
    top: 149.23px;
}

.fa-chevron-right {
    height: 79.2px;
    width: 46.68px;
    position: absolute;
    background: #FFFFFF;
    left: 1166.60px;
    top: 149.23px;
}

.carroussel p {
    height: 32.4px;
    width: 24px;
    left: 607px;
    top: 357.67px;
    position: absolute;
    left: 48.95%;
    right: 49.11%;
    top: 86.19%;
    bottom: 6.01%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 991px) {
    .carroussel {
        max-width: 991px;
        min-width: 768px;
    }
}


@media screen and (max-width: 767px) {
    .carroussel {
        max-width: 767.99px;
        min-width: 320px;
        left: 20px;
    }

    .pictures {
        width: 100%; 
    }

}

