.container-collapse {
    position: relative;
    height: 834px;
    width: 1023px;
    left: 208px;
    top: 406px;
}

.collapse1,
.collapse2,
.collapse3,
.collapse4 {
    position: absolute;
    width: 1023px;
    height: 47px;
    margin-bottom: 31px;
    background: #FF6060;
    border-radius: 5px;
}

.collapse2 {
    margin-top: 170px;
}

.collapse3 {
    margin-top: 340px;
}

.collapse4 {
    margin-top: 510px;
}

.collapse1 h3,
.collapse2 h3,
.collapse3 h3,
.collapse4 h3 {
    height: 34px;
    width: 97px;
    left: 18.07px;
    top: -17px;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    text-align: left;
    position: absolute;
    left: 1.77%;
    right: 88.75%;
    bottom: 15.72%;
    font-style: normal;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.btn1,
.btn2,
.btn3,
.btn4 {
    height: 23.86px;
    width: 32px;
    left: 960px;
    top: 11px;
    position: absolute;
    border: none;
    background: #FF6060;
    transform: rotate(180deg);
}

.btn1:focus,
.btn2:focus,
.btn3:focus,
.btn4:focus {
    transform: rotate(0deg);
}

.chevron {
    cursor: pointer;
}

.open1,
.open2,
.open3,
.open4 {
    width: 1002px;
    top: 48px;
    border-radius: 5px;
    position: absolute;
    padding-top: 25px;
    padding-left: 20px;
    background: #F7F7F7;
    border-radius: 5px;

}

.open1,
.open2,
.open3 {
    height: 60px;
}

.open4 {
    height: 80px;
}