.body-error {
    max-width: 1440px;
    position: relative;
    height: 615px;
    width: 550px;
    left: 350px;
    top: 80px;
}

.error {
    width: 440px;
    height: 200px;
    margin-left: 130px;
}

.error-logo {
    position: absolute;
    width: 440px;
    height: 200px;
    display: flex;
    align-items: center;
    size: 288px;
    left: 130px;
}

.error h1 {
    height: 51px;
    width: 700px;
    top: 230px;
    left: -20px;
    position: absolute;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF6060;
}

.p {
    height: 26px;
    width: 260px;
    left: 220px;
    top: 400px;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    display: flex;
    align-items: flex-end;
    text-decoration-line: underline;
    color: #FF6060;
}


/*............. @ media ........................*/

/*  tablette  */
@media screen and (max-width: 800px) {
    .body-error {
        max-width: 800px;
        height: 700px;
    }
    .error {
        width: 440px;
        height: 200px;
        margin-left: 130px;
        top: 800px;
       
    }
    
    .error-logo {
        left: 30px;
    }
    .error h1 {
        left: -100px;    
    }
    .p {
        left: 130px;
        padding-bottom: 800px;  
    }    
}


/*  mobile  */
@media screen and (max-width : 500px) {
    .body-error {
        max-width: 500px;
        margin-bottom: 100px;
    }
    .error {
        width: 198px;
        height: 99px;;
        top: 306px;
    }
    .error-logo {
        width: 198px;
        height: 99px;
        margin-left: -30px;
    }
    .error h1 {
        margin-left: 70px;
        padding-right: 400px;
        top: 150px;
    }
    .p {
        top: 400px;
        left: -30px;  
    }

}