.body-error {
    max-width: 1440px;
    min-width: 992px;
    height: 815px;
}

.error {
    top: 180px;
    width: 440px;
    height: 100px;
    left: 470px;
    position: relative;
}

.error-logo {
    position: absolute;
    width: 440px;
    height: 100px;
    display: flex;
    align-items: center;
    size: 288px;
}

.error h1 {
    height: 51px;
    width: 700px;
    left: -120px;
    top: 150px;
    position: absolute;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF6060;
}

.p {
    height: 26px;
    width: 260px;
    left: 90px;
    top: 300px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    position: absolute;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: flex-end;
    text-decoration-line: underline;
    color: #FF6060;
}


@media screen and (max-width : 767px) {
    .body-home {
        max-width: 767.99px;
        min-width: 320px;
    }

    .error {
        width: 198px;
        left: 300px;
        top: 306px;
        border: 2px solid black;
    }

    .error-logo {
        width: 198px;
        height: 99px;
    }

    .error h1 {
        padding-right: 400px;
        text-align: center;
    }
    .p {
        top: 539px;
        left: -20px;   
    }

}