.container-fichelogement {
    max-width: 1440px;
    min-width: 992px;
}

.title {
    position: absolute;
    width: 635px;
    height: 77px;
    left: 100px;
    top: 503px;
}

.title h1 {
    height: 51px;
    width: 635px;
    left: 100px;
    top: 503px;
    position: absolute;
    left: 6.94%;
    right: 48.96%;
    top: 55.96%;
    bottom: 39.06%;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    color: #FF6060;
}

.title p {
    height: 26px;
    width: 176px;
    left: 100px;
    top: 100px;
    position: absolute;
    left: 6.94%;
    right: 80.83%;
    bottom: 36.52%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    color: #FF6060;
}

.host {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 570px;
    left: 1120px;
    width: 220px;
    padding-left: 20px;
    text-align: right;
}

.span-fichelogement {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: #FF6060;
    text-align: center;
}

.host-picture {
    width: 64px;
    height: 64px;
    margin-left: 20px;
    background: #C4C4C4;
    border: 2px solid #C4C4C4;
    border-radius: 50%;
}

.content {
    position: absolute;
    width: 900px;
    height: 101px;
    left: 100px;
    top: 655px;
}

.content ul {
    display: flex;
    list-style: none;
    position: relative;
    left: -40px;
}

.content li {
    background: #FF6060;
    border-radius: 10px;
    height: 30px;
    width: 115px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    margin-right: 10px;
    padding-top: 5px;
}

.description {
    height: 52px;
    width: 582px;
    border-radius: 10px;
    position: absolute;
    background: #FF6060;
}

.equipements {
    height: 52px;
    width: 582px;
    border-radius: 10px;
    position: absolute;
    background: #FF6060;
    margin-left: 651px;
}

.description h3,
.equipements h3 {
    position: relative;
    height: 26px;
    width: 106px;
    left: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    color: #FFFFFF;
    top: -5px;
}

.rate {
    position: relative;
    display: flex;
    width: 196px;
    height: 30px;
    padding-left: 1180px;
    top: 600px;
}

.btn {
    height: 32px;
    width: 32px;
    left: 32px;
    position: absolute;
    left: 93%;
    top: 20%;
    opacity: 0.87;
    background: #FF6060;
    border: none;

}

.chevron2,
.chevron3 {
    position: relative;
    right: 4px;
    color: #FFFFFF;
    cursor: pointer;
}

.container-text1,
.container-text2 {
    height: 249px;
    width: 582px;
    top: 52px;
    border-radius: 10px;
    position: absolute;
    background: #F7F7F7;
}

.text1 {
    height: 156px;
    width: 550px;
    left: 20px;
    top: -20px;
    left: 3.44%;
    right: 2.06%;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.6%;
    color: #FF6060;
}

.text2 {
    height: 182px;
    width: 550px;
    left: 20px;
    top: 22px;
    position: absolute;
    left: 3.44%;
    right: 2.06%;
    bottom: -407.69%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.6%;
    color: #FF6060;
}

.collapse-fichelogement {
    position: relative;
    height: 52px;
    width: 1240px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    left: 100px;
    margin-bottom: 200px;
    top: 650px;
}

.collapse-fichelogement-item {
    display: block;
    justify-content: space-between;
    height: 52px;
    width: 582px;
    margin-top: -20px;
    border-radius: 10px;   
}

@media screen and (max-width: 991px) {
    .container-fichelogement {
        max-width: 991px;
        min-width: 768px;
    }

}

@media screen and (max-width: 767px) {
    .container-fichelogement {
        max-width: 767.99px;
        min-width: 320px;
    }

    .title, .title h1, .title p {
        left: 10px;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .span-fichelogement {
        display: flex;
        flex-direction: column;
    }

    .host {
        top: 750px;
        left: 530px;
    }

    .content {
        left: 20px;
    }

    .rate {
        left: -1155px;
        top: 710px;
    }

    .collapse-fichelogement {
        flex-direction: column;
        top: 770px;
        left: -230px;
    }

    .collapse-fichelogement-item {
        margin-top: 25px;  
        width: 740px;
    }

}

