.container-fichelogement {
    max-width: 1440px;
    min-width: 992px;
    height: 1200px;
}

.container-slideshow {
    position: relative;
    width: 1150px;
    height: 700px;
    top: 120px;
    left: 100px;
    border-radius: 25px;
}

.title {
    position: absolute;
    width: 900px;
    left: 100px;
    top: 600px;
}

.title h1 {
    font-weight: 500;
    font-size: 30px;
    display: flex;
    align-items: flex-end;
    color: #FF6060;
    line-height: 25px;
}

.title p {
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: flex-end;
    color: #FF6060;
}

.host {
    position: absolute;
    width: 230px;
    top: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    left: 1025px;
    display: flex;
    justify-content: center;
    text-align: right;   
}

.host-picture {
    height: 30px;
    width: 30px;
    border: 2px solid #F7F7F7;
}

.host img {
    border-radius: 50%;    
}

.span-host {
    padding-top: 40px;
    padding-right: 15px;
    font-weight: 500;
    font-size: 18px;
    color: #FF6060;
    text-align: right;
}


.description h3,
.equipements h3 {
    position: relative;
    height: 26px;
    width: 106px;
    left: 20px;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    color: #FFFFFF;
    top: -5px;
}

.chevron2,
.chevron3 {
    position: relative;
    right: 4px;
    color: #FFFFFF;
    cursor: pointer;
}

.dropdown-fichelogement {
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    left: 100px;
    text-align: left;
    top: 120px;
    margin-right: 200px;
    list-style: none;
    margin-bottom: -300px;
}

.dropdown_title {
    top: 50px; 
}

.dropdown-fichelogement-item1, 
.dropdown-fichelogement-item2 {
    width: 535px;  
}

.dropdown-fichelogement-item2 ul {
    list-style-type: none;
    padding-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}







@media screen and (max-width: 767px) {
    .container-fichelogement {
        max-width: 767.99px;
        min-width: 320px;
    }

    .title, .title h1, .title p {
        left: 10px;
    }

   

    .span-fichelogement {
        display: flex;
        flex-direction: column;  
    }

    .host {
        top: 750px;
        left: 660px; 
    }

    

    .dropdown-fichelogement {
        display: block;
        flex-direction: column;
        top: 770px;
        width: 740px;
        left: 20px;  
    }

    .dropdown-fichelogement-item1, .dropdown-fichelogement-item2 {  
        width: 740px;
        height: auto;
        padding-left: -20px;
    }
}

