.container-fichelogement {
    max-width: 1440px;
    min-width: 992px;
}

.title {
    position: absolute;
    width: 635px;
    height: 77px;
    left: 100px;
    top: 503px;
}

.title h1 {
    height: 51px;
    width: 635px;
    left: 100px;
    top: 503px;
    position: absolute;
    left: 6.94%;
    right: 48.96%;
    top: 55.96%;
    bottom: 39.06%;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    color: #FF6060;
}

.title p {
    height: 26px;
    width: 176px;
    left: 100px;
    top: 100px;
    position: absolute;
    left: 6.94%;
    right: 80.83%;
    bottom: 36.52%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    color: #FF6060;
}

.host {
    width: 200px;
    display: flex;
    justify-content: center;

    
    
    text-align: right;
}

.span-fichelogement {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: #FF6060;
    text-align: center;
}

.host-picture {
    position: absolute;
    width: 64px;
    height: 64px;
    margin-left: 40px;
    background: #C4C4C4;
    border: 2px solid #C4C4C4;
    border-radius: 50%;
}


.description {
    height: 52px;
    width: 582px;
    border-radius: 10px;
    position: absolute;
    background: #FF6060;
}

.equipements {
    height: 52px;
    width: 582px;
    border-radius: 10px;
    position: absolute;
    background: #FF6060;
    margin-left: 651px;
}

.description h3,
.equipements h3 {
    position: relative;
    height: 26px;
    width: 106px;
    left: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    color: #FFFFFF;
    top: -5px;
}


.btn {
    height: 32px;
    width: 32px;
    left: 32px;
    position: absolute;
    left: 93%;
    top: 20%;
    opacity: 0.87;
    background: #FF6060;
    border: none;

}

.chevron2,
.chevron3 {
    position: relative;
    right: 4px;
    color: #FFFFFF;
    cursor: pointer;
}

.container-text1,
.container-text2 {
    height: auto;
    width: 582px;
    top: 52px;
    border-radius: 10px;
    position: absolute;
    background: #F7F7F7;
}

.dropdown-fichelogement {
    position: relative;
    width: 1240px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    left: 100px;
    margin-bottom: 250px;
    top: 700px;
}

.dropdown-fichelogement-item1 {
    display: block;
    justify-content: space-between;
    height: 52px;
    width: 582px;
    margin-top: -20px;
    border-radius: 10px;
    text-align: left;  
}

.dropdown-fichelogement-item2 {
    display: block;
    justify-content: space-between;
    height: 52px;
    width: 582px;
    margin-top: -20px;
    border-radius: 10px; 
}

.dropdown-fichelogement-item2 ul  {
    list-style-type: none;
    text-align: left;
    margin-left: -35px;
    margin-top: 0px;
    margin-bottom: 0px;   
}


@media screen and (max-width: 767px) {
    .container-fichelogement {
        max-width: 767.99px;
        min-width: 320px;
    }

    .title, .title h1, .title p {
        left: 10px;
    }

    .tags {
        display: flex;
        flex-direction: column;
        left: 20px;
    }

    .span-fichelogement {
        display: flex;
        flex-direction: column;  
    }

    .host {
        top: 750px;
        left: 660px; 
    }

    .rate {
        left: -1155px;
        top: 710px;
    }

    .dropdown-fichelogement {
        display: block;
        flex-direction: column;
        top: 770px;
        width: 740px;
        left: 20px;  
    }

    .dropdown-fichelogement-item1, .dropdown-fichelogement-item2 {  
        width: 740px;
        height: auto;
        padding-left: -20px;
    }
}

