.footer {
    height: 209px;
    width: 1440px;
    top: 1343px;
    position: relative;
    background: #000000;
}

p {
    height: 46px;
    width: 400px;
    left: 38%;
    top: 124px;
    bottom: 30px;
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
}

.footer-logo {
    height: 39.44px;
    width: 122px;
    left: 659px;
    top: 66px;
    position: absolute;
    left: 45.76%;
    right: 45.76%;
    top: 31.58%;
    bottom: 49.55%;
}