.footer {
    position: relative;
    height: 209px;
    max-width: 1440px;
    min-width: 992px;
    top: 3333px;
    background: #000000;
}

.footer-p {
    height: 46px;
    width: 400px;
    left: 38%;
    top: 124px;
    bottom: 30px;
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
}

.footer-logo {
    height: 39.44px;
    width: 122px;
    left: 659px;
    top: 66px;
    position: absolute;
    left: 45.76%;
    right: 45.76%;
    top: 31.58%;
    bottom: 49.55%;
}

@media screen and (max-width: 991px) {
    .footer {
        max-width: 991px;
        min-width: 768px;
    }
}

@media screen and (max-width:767px) {
    .footer {
       max-width: 767.99px;
       min-width: 375px;
    }

    .footer-p { 
        height: 46px;
        width: 513px;
        left: 27%;
        top: 101px;
    }

    .footer-logo {
        left: 43%;
    }
}