.footer {
    position: relative;
    height: 209px;
    max-width: 1440px;
    background: #000000;
}

.footer-p {
    height: 46px;
    width: 400px;
    left: 36%;
    top: 124px;
    bottom: 30px;
    position: absolute;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
}

.footer-logo {
    height: 39.44px;
    width: 122px;
    top: 66px;
    position: absolute;
    left: 46%;
    top: 31.58%;
    bottom: 49.55%;
}


/*............. @ media ........................*/

 /*  tablette  */
 @media screen and (max-width: 800px) {
    .footer {
      width: 1160px;
    }
  }

/*  mobile  */
@media screen and (max-width: 500px) {
    .footer {
      width: 860px;
    }

    .footer-p { 
        height: 46px;
        width: 513px;
        left: 30%;
        top: 101px;
    }

    .footer-logo {
        left: 43%;
    }
}