.header {
    position: absolute;
    width: 1240px;
    height: 68px;
    left: 100px;
    top: 40px;
}

.logo {
    position: absolute;
    right: 83.04%;
    height: 68px;
    width: 210.32px;
}

nav {
    width: 309px;
    height: 34px;
    top: 17px;
    left: 931px;
    top: 25%;
    bottom: 25%;
}

nav a {
    position: absolute;
    left: 75.08%;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #FF6060;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    top: 25%;
    bottom: 25%;
}

nav a:first-child {
    width: 136px;
    left: 75.08%;
    right: 13.95%;
    text-decoration: none;
}

nav a:nth-child(2) {
    left: 90.65%;
    width: 116px;
    left: 1124px;
    text-decoration: none;
}

nav a:first-child:focus,
nav a:nth-child(2):focus {
    text-decoration: underline;
}


@media screen and (max-width:768px) {

    .header { 
        max-width: 768px;
        min-width: 335px;
        height: 47px;
    }

    .logo {
        width: 145px;
        top: 20px;
    }
    
    nav a {
        height: 17px;
        width: 140px;
    }

    nav a:first-child {
        left: 550px;
    }

    nav a:nth-child(2) {
        left: 654px;
    }
}
    
