.body-header {
    max-width: 1440px;
    min-width: 992px;
}

.header {
    position: absolute;
    width: 1240px;
    height: 68px;
    left: 100px;
    top: 40px;
}

.logo {
    position: absolute;
    right: 83.04%;
    height: 68px;
    width: 210.32px;
}

nav {
    width: 309px;
    height: 34px;
    top: 17px;
    left: 931px;
    top: 25%;
    bottom: 25%;
}

nav a {
    position: absolute;
    left: 75%;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #FF6060;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    top: 25%;
    bottom: 25%;
}

nav a:first-child {
    width: 90px;
    text-decoration: none;
}

nav a:nth-child(2) {
    width: 110px;
    left: 1130px;
    text-decoration: none;
}

nav a:first-child:focus,
nav a:nth-child(2):focus {
    text-decoration: underline;
}

@media screen and (max-width: 991px) {
    .body-header {
        max-width: 991px;
        min-width: 768px;
    }
}


@media screen and (max-width:767px) {
    .body-header {
        max-width: 767.99px;
        min-width: 320px;
        height: auto;
    }

    .header { 
        width: 335px;
        height: 47px;
        left: 20px;
    }

    .logo {
        width: 145px;
        top: 20px;
    }
    
    nav a {
        height: 17px;
        width: 130px;
    }

    nav a:first-child {
        left: 520px;
    }

    nav a:nth-child(2) {
        left: 624px;
    }
}
    
