body .container-home {
    width: 1110px;  
    margin-left: 50px;
    border: 2px solid pink;
}

/*.................. banner ...............*/

.banner {
    position: absolute;
    height: 223px;
    top: 140px;
    border-radius: 25px;
    width: 1110px;  
    border-radius: 25px;
    border: 2px solid black;
}

.banner h1 {
    z-index: 1;
    height: 68px;
    width: 705px;
    left: 245px;
    top: 50px;
    position: absolute;
    right: 25.14%;
    font-weight: 500;
    font-size: 48px;
    color: #FFFFFF;
}

.paysage {
    border-radius: 25px; 
    filter: invert(10%); 
    width: 1109px; 
    height: 223px;
}

/*.............. gallery .................*/


.gallery-home {
    margin-top: 290px;
    width: 1105px;
    height: 2600px;
    border: 2px solid red;
}



/*............... responsive ...............*/


@media screen and (max-width: 767px) {
    .body-home {
        max-width: 767.99px;
        min-width: 320px;
        height: auto;
    }

    .banner, .banner.masked, .masked .paysage1 {
        width: 728px;
        height: 161px;
        left: 20px;
        background: linear-gradient(to right, #000000 -186%, #f7f7f7 100%);
    }

    .masked .paysage1 {
        object-fit: cover;
        left: 0px;
        right: 10px;
    }

    .banner h1 {
        width: 270px;
        height: 48px;
        left: 36px;
        line-height: 40px;
        font-weight: 900px;  
        font-size: 24px;
        top: 33.04%;
        padding-right: 70px;
    }

}       