.body-home {
    max-width: 1440px;
    min-width: 992px;
    height: auto;
}

.banner {
    position: absolute;
    width: 1240px;
    height: 223px;
    left: 100px;
    top: 171px;
    background-color: #F7F7F7;
    border-radius: 25px;
}


.banner h1 {
    z-index: 1;
    height: 68px;
    width: 705px;
    left: 373px;
    top: 249px;
    position: absolute;
    left: 25.9%;
    right: 25.14%;
    top: 24.32%;
    bottom: 69.04%;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}

.banner.masked {
    position: absolute;
    height: 223px;
    left: 100px;
    top: 171px;
    mix-blend-mode: darken;
    background: #000000;
    opacity: 0.3;
    border-radius: 25px;
}

.masked .paysage1 {
    position: absolute;
    border-radius: 25px;
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.7;

}


@media screen and (max-width: 991px) {
    .body-home {
        max-width: 991px;
        min-width: 768px;
}

}


@media screen and (max-width: 767px) {
    .body-home {
        max-width: 767.99px;
        min-width: 320px;
        height: auto;
}

}