.container {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #FFFFFF;
    left: -543px;
    top: -183px;
}

.body-home {
    position: absolute;
    width: 1240px;
    height: 1095px;
    left: 100px;
    top: 171px;
}