* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.container {
  position: relative;
  max-width: 1440px;
  min-height: 992px;
  height: 1024px;
  background: #FFFFFF;
  
}
body {
  font-family: montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




