* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 90%;
}

#root {
  margin: 0 auto;
  max-width: 1440px;
  height: auto;
  position: relative;
  background: #FFFFFF;
  border: 2px solid red;
}






