.carroussel {
    height: 455px;
    overflow: hidden;
    position: relative;
    border-radius: 25px;
    width: 1235px;
}

.carroussel-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carroussel-bullet-point {
    position: absolute;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    width: 50px;
    height: 50px;
    top: 90%;
    left: calc(50% - 25px);
    font-weight: 500;
}

.carroussel-btn-left img {
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 210px;
    height: 40px;
    width: 90px;
    transform:rotate(90deg);
}

.carroussel-btn-right img{
    position: absolute;
    z-index: 1;
    height: 40px;
    width: 90px;
    left: 1150px;
    top: 210px; 
    transform:rotate(270deg);  
}


/*............. @ media ........................*/

/*  tablette  */
@media screen and (max-width: 800px) {
    .carroussel {
        width: 1065px;
    }
    
    .carroussel-btn-right {
        left: 985px; 
    }
}


/*  mobile  */
@media screen and (max-width: 767px) {
    .carroussel {
        height: 500px;
        width: 760px;
        top: 40px;
    }

    .carroussel-btn-left {
        top: 230px;   
    }
    
    .carroussel-btn-right {
        left: 685px; 
        top: 220px;
    }
}
