.rating {
    position: absolute;
    width:160px;
    top: 130px;
    left: 30px;
}

.rating svg {
    width: 30px;
    height: 30px;
}

/*............. @ media .........................*/

@media screen and (max-width: 767px) {
    .rating {
        top: 40px;
        left: -570px;
    }
}