.tags {
    display: flex;
    position:absolute;
    gap: 10px;
    top: 670px;
    left: 10px;
}

.tags-text {
    background-color: #FF6060;
    height: 25px;
    padding: 1px 20px 10px 20px;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    text-align: center;
    list-style: none;
    font-weight: 500;
}

/*............. @ media .........................*/

/*  mobile  */
@media screen and (max-width: 767px) {
    .tags {
        top: 750px;
        gap: 20px;
    } 
    
    .tags-text {
        height: 35px;
        padding: 5px 40px 15px 40px;
        font-size: 16px;
     
    }
}